@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --line-border-fill: #00ff88;
    --line-border-empty: #fbfbfb;
    /* liner-gradient(180deg, rgb(128, 170, 248), rgb(208, 234, 250)) */
    --bg-gradient: rgb(255, 255, 255);
    --accent-color: rgb(62, 62, 62);
    --base-txt: #b9a0a0;
}

/* decorations */
.btn {
    background-color: var(--line-border-empty);
    color: var(--accent-color);
    border: 0;
    border-radius: 6px;
    font-family: inherit;
    padding: 8px 20px;
    width: 105px;
}

.btn:hover {
    background-color: var(--line-border-fill);
    color: #ffffff;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-gradient);
    overflow: auto;
    margin: 0;
}

hr {
    border: none;
    border-bottom: 2px solid var(--accent-color);
    width: 100%;
}

/* header content the progress bar */
.container {
    display: flex;
    text-align: center;
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--accent-color);
}

.progress-container {
    display: flex;
    justify-content: space-between;
    background-color: var(--accent-color);
    position: relative;
    color: var(--base-txt);
    z-index: -2;
    margin-bottom: 30px;
    margin: 20px auto;
    /* padding: 10px; */
    max-width: 90%;
    width: 100vw;
}

.progress-container::before {
    content: '';
    background-color: var(--line-border-empty);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: -1;
}

.progress {
    background-color: var(--line-border-fill);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0;
    z-index: -1;
    transition: .4 ease;
}

.circle {
    background-color: var(--accent-color);
    color: var(--base-txt);
    border-radius: 50%;
    height: 1.5rem;
    width: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.15rem solid var(--line-border-empty);
}

.circle.active {
    border-color: #ffffff;
    z-index: 1;
}

.circle.true {
    border-color: var(--line-border-fill);
}

.circle.false {
    border-color: #db3434;
    z-index: 2;
}

/* main body  */
.content {
    display: flex;
    flex-direction: column;
    font-size: 35px;
    margin: 0 auto;
    width: 35vw;
    overflow: auto;
    min-height: 80vh;
}

.question {
    text-align: center;
    min-height: 30%;
}

.question-text {
    text-align: left;
    margin-bottom: 18px;
}

.list {
    display: flex;
    flex-direction: column;
    margin: 4%;
}

.checkbox {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.label {
    font-size: 20px;
}

/* footer and control panel */
.footer {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    height: 50px;
    width: 100%;
    justify-content: center;
}

.nav-bar {
    width: 100%;
    background-color: var(--accent-color);
}

.control-panel {
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

@media only screen and (max-width: 760px) {
    .content {
        width: 100%;
    }
}